html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(48, 48, 48);
}
.home-page {
    padding: 1em 2em 2em;
}
.form {
    width: 100%;
    margin: 0 auto;
}
.textField, .selectField, .checkboxDiv, .toggleDiv, .picturesDiv {
    width: 100% !important;
}
.materialParagraph {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    margin-bottom: .5em;
}
.checkbox {
    display: inline-block !important;
    width: 20% !important;
    margin: 0 1em;
}
.toggle {
    margin: 1em 0;
    max-width: 12em;
}
.chips {
    display: flex;
    flex-wrap: wrap;
}
.chip {
    margin: 0 .5em .5em 0 !important;
}
.picturesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.picture {
    width: 45% !important;
    height: 13em;
    margin: 1em 2% 0;
}
.accounts, .success {
    margin: 2em;
}
.existingAccountsDiv {
    margin-bottom: 2em;
}
.accountsParagraph, .successParagraph {
    color: rgba(255, 255, 255, 0.6) !important;
    margin-bottom: 1em;
}
.submitButton {
    margin: 1em 0;
}
@media screen and (min-width: 750px) {
    .form {
        width: 70%;
    }
}
@media screen and (min-width: 1000px) {
    .form {
        width: 50%;
    }
    .picture {
        width: 28% !important;
    }
    .accounts, .success {
        width: 50%;
    }
}